@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body {
    margin: 0;
    padding-top: 70px;
    background: linear-gradient(to right, #021735, #060442, #21035a);
    color: #ddd4d4;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    backdrop-filter: blur(10px);
}

/* Target all elements that can potentially have scrollbars */
body,
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(222, 178, 178, 0.2) rgba(0, 0, 0, 0); /* Optional: Customize scrollbar track and thumb colors */
}

/* Target specific elements if needed (optional) */
::-webkit-scrollbar {
  width: 8px; /* Adjust width for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* Set transparent background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Set color for the scrollbar thumb */
  border-radius: 6px; /* Add rounded corners for a smoother look (optional) */
}

.home-wrapper {
    padding: 0 10px !important;
}

@keyframes pulsate {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
}

.pulsating-icon {
    animation: pulsate 1.5s infinite;
}
